#replace [REMOTE_NAME] to your rclone config remote, [FOLDER] to your cloud folder
RESTIC_PATH="rclone:[REMOTE_NAME]:[FOLDER]"

#write your restic password in this file
RESTIC_PASSWORD_PATH="$PROJECT_DIR/config/.password"